{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Gallery Entries Column -->
        <div class="col-md-12 mt-4">
            {% for gallery in gallery_list %}
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{{gallery.cover.url}}" alt="cover">
                    <div class="card-img-overlay">
                      <h2 class="card-title">{{ gallery.title }}</h2>
                      <p class="card-text">{{ gallery.author }} | {{ gallery.created_on}}</p>
                      <a href="{% url 'gallery_detail' gallery.slug %}" class="btn btn-primary">Voir la galerie &rarr;</a>
                    </div>
              </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
      <nav aria-label="Page navigation container">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENT </a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> SUIVANT &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
</div>
{%endblock%}