{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta %}
<meta property="og:url" content="{% url 'gallery_detail' gallery.slug  %}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ gallery.title }}" />
<meta property="og:description" content="{{ gallery.description }}" />
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="carousel" class="col-md-12 mt-4 carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for p in photos %}
                    <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for p in photos %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img class="d-block w-100" src="{{ p.image.url }}" alt="Slide">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédente</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivante</span>
            </a>
        </div>

        <div class="col-md-12 card mb-6  mt-4 ">
            <div class="card-body">
            <!-- comments -->
            <h2>{{ comments.count }} commentaire{{ comments.count|pluralize }}</h2>

            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.author.get_username }}
                    <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
             </div>
        </div>

        {% if user.is_authenticated %}
        <div class="col-md-12 card mb-6  mt-4 ">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Votre commentaire est en attente de modération
                </div>
                {% else %}
                <h3>Laisser un commentaire</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg">Valider</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}