{% extends "base.html" %} 
{% load static %}

{% block meta %}
<meta property="og:url" content="https://lesdragonsdupradet.fr/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Les Dragons du Pradet" />
<meta property="og:description" content="Les Dragons du Pradet, club de supporters du RCT" />
<meta property="og:image" content="https://lesdragonsdupradet.fr/static/core/img/logo.png" />
<meta property="og:image:secure_url" content="https://lesdragonsdupradet.fr/static/core/img/logo.png" />
<meta property="og:image:type" content="image/png" />
{% endblock meta %}

{% block content %}
<div class="jumbotron text-center">
    <img class="img-fluid" src="{% static 'core/img/banner.jpg' %}" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <p>Les Dragons du Pradet est une association loi 1901 à but non lucratif. Sa vocation est de permettre à toutes les personnes qui le souhaitent d’aller supporter leur club de rugby préféré, le RCT.</p>
            <p>Initialement créée en 2010 par Auguste BIANCHI dit « Gu » grand passionné de rugby, ancien président de l’école de rugby du RCP (Rugby Club Pradétan) et fondateur du club des Old Dragons (club de rugby vétérans du Pradet) et Roger PLANE, ancien éducateur des « tout-petits » du RCP, l’association a été reprise avec succès fin 2011 par Claude LOMBARDO, suite à la disparition de ses 2 co-fondateurs, Gu et Roger.</p>
            <p>L’association n’a finalement cessé de grandir au cours des années afin d’atteindre 250 adhérents pour 150 abonnés aujourd’hui. Elle essaye également de diversifier ses activités tout au long de l’année afin de faire plaisir au plus grand nombre. Chaque année, elle organise un loto, des repas, des déplacements pour les matchs à l’extérieur, des voyages, …</p>
            <ul>
                <li>Président : Claude LOMBARDO</li>
                <li>Vice Présidente : Sylvie PLANE</li>
                <li>Président d’honneur : Gilles BIANCHI</li>
                <li>Trésorier : Mireille FOUGEROLLE</li>
                <li>Trésorier Adjoint : Jean-Marie TONNOIR</li>
                <li>Secrétaire générale : Gwendoline CLERJAUD</li>
                <li>Secrétaire : Claudine COLIN</li>
                <li>Logistique : Aurélien LOMBARDO</li>
                <li>Responsable billeterie : Francis SCHILLING</li>
                <li>Animations: Jeannine BIANCHI</li>
                <li>Voyages : Nicole TOZZA</li>
            </ul>
            <p>Vous pouvez nous contacter soit par email à lom.cl@wanadoo.fr soit par téléphone au 06.77.43.04.52.</p>
        </div>
    </div>
</div>
{%endblock%}