{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-4">
                <h1 class="h3 mb-3 font-weight-normal text-center">Inscrivez-vous</h1>
                <form id="signup-form" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
                </form>
                <p class="text-center mt-4"><a href="{% url 'login' %}">Déjà inscrit ?</a></p>
            </div>
        </div>
    </div>
{%endblock%}