{% extends 'admin/change_form.html' %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    (function($) {
        var prices = {{ prices|safe }}
        $('input[id$="price"]').prop('disabled', true);
        $('select[id$="type"]').prop('disabled', true);

        $('select[id$="tribune"]').addClass('selector-price');
        $('select[id$="rate"]').addClass('selector-price');
        $('select[id$="period"]').addClass('selector-price');

        $('.selector-price').change(function(e) {
            var nbSubscription = e.target.id.split('-')[1];
            var period = $(`#id_subscriptions-${nbSubscription}-period`).val();
            console.log(period);
            if (!period) {
                return;
            }
            
            start_date = prices[period].start_date.split('-');
            start_date = new Date(start_date[0], start_date[1]-1, start_date[2]);
            
            end_date = prices[period].end_date.split('-');
            end_date = new Date(end_date[0], end_date[1]-1, end_date[2]);
            
            var difference = end_date - start_date;
            var days = difference / (1000*60*60*24);
            $(`#id_subscriptions-${nbSubscription}-type`).val(days > 366 ? 2 : 1);
            
            var rate = $(`#id_subscriptions-${nbSubscription}-rate`).val();
            var tribune = $(`#id_subscriptions-${nbSubscription}-tribune`).val();
            if (!rate || !tribune) {
                return;
            }
            
            var price = prices[period].prices[tribune][rate].price;
            $(`#id_subscriptions-${nbSubscription}-price`).val(price);
        });
        
        $('#command_form').submit(function(e) {
            $('input[id$="price"]').prop('disabled', false);
            $('select[id$="type"]').prop('disabled', false);
        });
    })(django.jQuery);
</script>
{% endblock %}
